In [12]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [14]:
#get the webpage https://www.naukri.com/
def get_naukri_info(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    try:
        #Enter “Data Analyst” in “Skill, Designations, Companies” field 
        send_title=driver.find_element_by_xpath('//input[@placeholder="Skills, Designations, Companies"]').send_keys('Data Analyst')
        #Enter “Bangalore” in “enter the location” field
        send_location=driver.find_element_by_name('location').send_keys('Bangalore')
        #Then click the search button.
        click_search=driver.find_element_by_xpath('//div[@class="search-btn"]/button').click()
        driver.implicitly_wait(30)
        # collect title info 
        job_title=[title.text for title in driver.find_elements_by_xpath('//div[@class="info fleft"]/a')]
        # collect location name
        job_location=[loc.text for loc in driver.find_elements_by_xpath('//li[contains(@class,"location")]/span[1]')]
        # collect company name
        company_name=[comp.text for comp in driver.find_elements_by_xpath('//div[contains(@class,"companyInfo")]/a[1]')]
        # collect experience required
        experience_required=[exp.text for exp in driver.find_elements_by_xpath('//i[contains(@class,"naukicon-experience")]/following-sibling::span[1]')]
        #Create Dataframe using pandas
        df=pd.DataFrame({'job-title':job_title[:10],'job-location':job_location[:10],'company_name':company_name[:10],'experience_required':experience_required[:10]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()

get_naukri_info('https://www.naukri.com/')

,job-title,job-location,company_name,experience_required
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Senior Data Analyst III,Bengaluru/Bangalore,Flipkart,2-4 Yrs
2,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,3-8 Yrs
3,Business Analyst/ Data Analyst- Capital Market...,"Pune, Bangalore/Bengaluru",Genpact,7-12 Yrs
4,Customer Data Management Analyst,Bangalore/Bengaluru,Aspect,0-2 Yrs
5,Assistant/deputy Manager - Geo-spatial Data An...,"Gurgaon/Gurugram, bangalore",Maruti Suzuki India,3-5 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Rapido,1-6 Yrs
7,Senior Data Analyst,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",SYREN TECHNOLOGIES PRIVATE LIMITED,5-10 Yrs
8,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-5 Yrs
9,Openings For SQL Data Analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru",StackNexus Technologies India Pvt. Ltd,3-6 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/ 
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [15]:
#get the webpage https://www.naukri.com/
def get_naukri_info_data_science(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    try:
        #Enter “Data Analyst” in “Skill, Designations, Companies” field 
        send_title=driver.find_element_by_xpath('//input[@placeholder="Skills, Designations, Companies"]').send_keys('Data Scientist')
        #Enter “Bangalore” in “enter the location” field
        send_location=driver.find_element_by_name('location').send_keys('Bangalore')
        #Then click the search button.
        click_search=driver.find_element_by_xpath('//div[@class="search-btn"]/button').click()
        #wait for 3 seconds after clicking on search
        driver.implicitly_wait(30)
        # collect title info 
        job_title=[title.text for title in driver.find_elements_by_xpath('//div[@class="info fleft"]/a')]  
        # collect location name
        job_location=[loc.text for loc in driver.find_elements_by_xpath('//li[contains(@class,"location")]/span[1]')]   
        # collect company name
        company_name=[comp.text for comp in driver.find_elements_by_xpath('//div[contains(@class,"companyInfo")]/a[1]')]
        #Create Dataframe using pandas
        df=pd.DataFrame({'job-title':job_title[:10],'job-location':job_location[:10],'company_name':company_name[:10]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
        
get_naukri_info_data_science('https://www.naukri.com/')

,job-title,job-location,company_name
0,Data Scientist,Bangalore/Bengaluru,Snaphunt
1,Data Science - Senior Data Scientist,"Noida, Bangalore/Bengaluru",Paytm
2,Senior Data Scientist,Bangalore/Bengaluru,Ally-Executive
3,Senior Data Scientist,Bangalore/Bengaluru,Visa
4,Data Scientist - Credit Risk,Bangalore/Bengaluru,Scienaptic Systems
5,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru,Samya.AI A FRACTAL Entity
6,Data Scientist,Bangalore/Bengaluru,Truecaller
7,Data Scientist,Bangalore/Bengaluru,Slice
8,Advanced Analytics Expert - Data Scientist,"Bangalore/Bengaluru, Bangalore",Hewlett-Packard
9,Data Scientist 2,Bangalore/Bengaluru,ANI Technologies Pvt. Ltd.

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [16]:
#get the webpage https://www.naukri.com/
def get_naukri_info_apply_filter(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    try:
        #Enter “Data Analyst” in “Skill, Designations, Companies” field 
        send_title=driver.find_element_by_xpath('//input[@placeholder="Skills, Designations, Companies"]').send_keys('Data Scientist')   
        #Then click the search button.
        click_search=driver.find_element_by_xpath('//div[@class="search-btn"]/button').click()
        #wait for 3 seconds after clicking on search
        driver.implicitly_wait(30)

        #select location filter
        if(not(driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]/i').is_selected())):
            driver.find_element_by_xpath('//label[@for="chk-Delhi / NCR-cityTypeGid-"]/i').click()
        #select salary filter
        if(not(driver.find_element_by_xpath('//label[@for="chk-3-6 Lakhs-ctcFilter-"]/i').is_selected())):
            driver.find_element_by_xpath('//label[@for="chk-3-6 Lakhs-ctcFilter-"]/i').click()

        #wait for 3 seconds after selecting filters    
        driver.implicitly_wait(30)

        # collect title info 
        job_title=[title.text for title in driver.find_elements_by_xpath('//div[@class="info fleft"]/a')]  
        # collect location name
        job_location=[loc.text for loc in driver.find_elements_by_xpath('//li[contains(@class,"location")]/span[1]')]   
        # collect company name
        company_name=[comp.text for comp in driver.find_elements_by_xpath('//div[contains(@class,"companyInfo")]/a[1]')]
        # collect experience required
        experience_required=[exp.text for exp in driver.find_elements_by_xpath('//i[contains(@class,"naukicon-experience")]/following-sibling::span[1]')]      
        #Create Dataframe using pandas
        df=pd.DataFrame({'job-title':job_title[:10],'job-location':job_location[:10],'company_name':company_name[:10],'experience_required':experience_required[:10]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
        

get_naukri_info_apply_filter('https://www.naukri.com/')

,job-title,job-location,company_name,experience_required
0,Data Science - Senior Data Scientist,"Noida, Bangalore/Bengaluru",Paytm,2-4 Yrs
1,Senior Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",Wipro,4-9 Yrs
2,Senior Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro,5-10 Yrs
3,Data Scientist: Advanced Analytics,Delhi / NCR,IBM India Pvt. Limited,5-10 Yrs
4,Sr. Data Scientist,Gurgaon/Gurugram,Genpact,4-9 Yrs
5,Senior Manager - Forecasting data scientist,Gurgaon/Gurugram,Genpact,5-10 Yrs
6,Data Scientist,"Noida, New Delhi, Faridabad, Gurgaon/Gurugram,...",LG Electronics India Pvt. Ltd.,0-2 Yrs
7,Data Scientist | Senior Data Scientist,"Delhi / NCR, DelhiNCR",4bell Technology,6-11 Yrs
8,Data Scientist/Senior Scientist - Python/Spark...,Gurgaon/Gurugram,Connexions,2-6 Yrs
9,Sr Data Scientist,Gurgaon/Gurugram,Talent Integrators,8-12 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image. 
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual. 
4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [17]:
def get_sunglass_flipkart(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    brand_list=[]
    prod_desc=[]
    price_list=[]
    offer_list=[]
    try:
        #Close login window before searching for product
        close_login_page=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
        #Enter “sunglasses” in “earch for products, brands and more” field 
        send_product_name=driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')   
        #Then click the search button.
        click_search=driver.find_element_by_xpath('//button[@type="submit"]').click()
        #wait for 3 seconds after clicking on search
        driver.implicitly_wait(30)
        while(len(brand_list)<=100):
            #refresh the webpage as we get stale elements
            driver.refresh()
            # collect title info 
            for brand in driver.find_elements_by_xpath('//div[contains(@class,"1xHGtK _373qXS")]//div[@class="_2WkVRV"]'):
                brand_list.append(brand.text)
       
            # collect location name
            for desc in driver.find_elements_by_xpath('//div[contains(@class,"1xHGtK _373qXS")]//div[@class="_2WkVRV"]/following-sibling::a[1]'):
                prod_desc.append(desc.text)
          
            # collect company name
            for price in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
                price_list.append(price.text)
          
            # collect experience required
            for offer in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
                offer_list.append(offer.text)
                
            #click on next page
            driver.find_element_by_xpath('//a[.="Next"]').click()
            
            
        #Create Dataframe using pandas
        df=pd.DataFrame({'Brand':brand_list[:100],'Product Description':prod_desc[:100],'Price':price_list[:100],'Offer':offer_list[:100]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
        
get_sunglass_flipkart('https://www.flipkart.com/')

,Brand,Product Description,Price,Offer
0,Kanishka,Others Round Sunglasses (55),₹151,84% off
1,ROYAL SON,"Polarized, UV Protection Round Sunglasses (53)",₹664,66% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹187,88% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Round Sunglasses (53)",₹664,66% off
96,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹188,87% off
97,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (57)",₹664,66% off
98,Elligator,UV Protection Wayfarer Sunglasses (53),₹319,90% off
99,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (58)",₹759,62% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace. When you will open the above link you will reach to the below shown webpage . 
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review_summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [18]:
def get_iphone_review_flipkart(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    
    rating_list=[]   
    review_sum_list=[]    
    full_review_list=[]
    
    try:
        #Click on all reviews to load all the reviews
        click_all_reviews=driver.find_element_by_xpath('//span[contains(.,"reviews") and contains(.,"All")]/ancestor::a[1]').click()
        #wait for 3 seconds after clicking on search
        driver.implicitly_wait(10)
        while(len(rating_list)<=100):
            #refresh the webpage as we get stale elements
            driver.refresh()
            # collect title info 
            for rating in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
                rating_list.append(rating.text)
            
            # collect location name
            for review in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
                review_sum_list.append(review.text)
           
            # collect company name
            for full_review in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]/div'):
                full_review_list.append(full_review.text)
           
            #click on next page
            click_btn=driver.find_element_by_xpath('//a[span[.="Next"]]')
            driver.execute_script('arguments[0].click();',click_btn)
            driver.implicitly_wait(10)                 
            
        #Create Dataframe using pandas
        df=pd.DataFrame({'Rating':rating_list[:100],'Review Summary':review_sum_list[:100],'Full Review':full_review_list[:100]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
        
get_iphone_review_flipkart('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace')

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
96,3,Awesome,The phone is completely good\nAs far as camera...
97,5,Decent product,Everything u ll like it when u use this iPhone...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,5,Does the job,phone is good but in display is 720p lcd in th...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [19]:
def get_sneakers_flipkart(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    brand_list=[]
    prod_desc=[]
    price_list=[]
    offer_list=[]
    try:
        #Close login window before searching for product
        close_login_page=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
        #Enter “sunglasses” in “earch for products, brands and more” field 
        send_product_name=driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')   
        #Then click the search button.
        click_search=driver.find_element_by_xpath('//button[@type="submit"]').click()
        #wait for 3 seconds after clicking on search
        driver.implicitly_wait(3)
        while(len(brand_list)<=100):
            #refresh the webpage as we get stale elements
            driver.refresh()
            # collect title info 
            for brand in driver.find_elements_by_xpath('//div[contains(@class,"1xHGtK _373qXS")]//div[@class="_2WkVRV"]'):
                brand_list.append(brand.text)
       
            # collect location name
            for desc in driver.find_elements_by_xpath('//div[contains(@class,"1xHGtK _373qXS")]//div[@class="_2WkVRV"]/following-sibling::a[1]'):
                prod_desc.append(desc.text)
          
            # collect company name
            for price in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
                price_list.append(price.text)
          
            # collect experience required
            for offer in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]/span'):
                offer_list.append(offer.text)
                
            #click on next page
            driver.find_element_by_xpath('//a[.="Next"]').click()
            
            
        #Create Dataframe using pandas
        df=pd.DataFrame({'Brand':brand_list[:100],'Product Description':prod_desc[:100],'Price':price_list[:100],'Offer':offer_list[:100]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
        
get_sneakers_flipkart('https://www.flipkart.com/')

,Brand,Product Description,Price,Offer
0,BIRDE,Casual Shoes For Men Combo Pack Of 2 Sneakers ...,₹535,46% off
1,LEE COOPER,Sneakers For Men,"₹1,484",45% off
2,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
3,URBANBOX,Sneakers Sneakers For Men,₹247,75% off
4,BIRDE,Sports Running Shoes Sneakers For Men,₹299,40% off
...,...,...,...,...
95,EEKEN,Sneakers For Men,₹879,45% off
96,Zsyto,Sneakers For Men,₹398,60% off
97,Xtoon,"white Casual shoes,Sneakers for men's Sneakers...",₹499,66% off
98,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹536,58% off
99,HRX by Hrithik Roshan,Sneakers For Men,"₹1,599",60% off

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image. 
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [20]:
def get_shoes_myntra(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    brand_list=[]
    prod_desc=[]
    price_list=[]
    try:
        #select color filter    
        driver.find_element_by_xpath('//span[@data-colorhex="black"]/following-sibling::div[@class="common-checkboxIndicator"]').click()
        #wait for 3 seconds after clicking on search
        driver.implicitly_wait(10)
        driver.refresh()
        #select price filter    
        driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]//div[@class="common-checkboxIndicator"]').click()  
        #wait for 3 seconds after clicking on search
        driver.implicitly_wait(10)
        
        while(len(brand_list)<=100):
            #refresh the webpage as we get stale elements
            driver.refresh()
            # collect brand info 
            for brand in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
                brand_list.append(brand.text)
       
            # collect prod description name
            for desc in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
                prod_desc.append(desc.text)
          
            # collect price 
            for price in driver.find_elements_by_xpath('//div[@class="product-price"]/span[1]'):
                price_list.append(price.text)
                         
            #click on next page
            driver.find_element_by_xpath('//a[@rel="next"]').click()
            
            
        #Create Dataframe using pandas
        df=pd.DataFrame({'Brand':brand_list[:100],'Product Description':prod_desc[:100],'Price':price_list[:100]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
        
get_shoes_myntra('https://www.myntra.com/shoes')

           Brand                     Product Description               Price
0          ASICS                 Men GEL-KAYANO 27 Shoes  Rs. 10499Rs. 14999
1           Puma                                           Rs. 6499Rs. 12999
2           ALDO                   Men Textured Sneakers    Rs. 6999Rs. 9999
3   Hush Puppies       Men Solid Leather Formal Slip-Ons    Rs. 8099Rs. 8999
4           Puma          Men Deviate Nitro Running Shoe   Rs. 9749Rs. 14999
..           ...                                     ...                 ...
95       Saint G                 Leather Block Peep Toes   Rs. 9450Rs. 10500
96       Saint G                  Women Leather Sneakers            Rs. 7900
97      DAVINCHI  Men Solid Formal Leather Slip-On Shoes            Rs. 6990
98          Geox          Women Solid Leather Ballerinas            Rs. 8999
99     Cole Haan                          Women Sneakers   Rs. 6499Rs. 12999

[100 rows x 3 columns]

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [11]:
def get_laptop_info_amazon(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    title_list=[]
    rating_list=[]
    price_list=[]
    try:
        #enter laptop in search keyword field  
        driver.find_element_by_xpath('//input[@name="field-keywords"]').send_keys('Laptop')
        #click on search button
        driver.find_element_by_id("nav-search-submit-button").click()
        #wait for few seconds
        driver.implicitly_wait(30)
        #refresh the driver web page
        driver.refresh()
        #select Intel core i7 as filter
        driver.find_element_by_xpath('//li[@aria-label="Intel Core i7"]//div[@class="a-checkbox a-checkbox-fancy s-navigation-checkbox aok-float-left"]').click()
        #click on search
        #driver.find_element_by_xpath('//li[@aria-label="Intel Core i9"]//input').click()
        #wait for few seconds after clicking on search
        driver.implicitly_wait(10)
        #refresh the webpage as we get stale elements
        driver.refresh()
        # collect brand info 
        for title in driver.find_elements_by_xpath('//div[@data-component-type="s-search-result"]//a[@class="a-link-normal a-text-normal"]/span'):
            title_list.append(title.text)

        # collect prod description name
        for rating in driver.find_elements_by_xpath('//a[@class="a-popover-trigger a-declarative"]/ancestor::span[2]'):
            rating_list.append(rating.get_attribute('aria-label'))

        # collect price 
        for price in driver.find_elements_by_xpath('//div[@data-component-type="s-search-result"]//span[@class="a-price"]'):
            price_list.append(price.text)
           
        #Create Dataframe using pandas
        df=pd.DataFrame({'Title':title_list[:10],'Rating':rating_list[:10],'Price':price_list[:10]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
        
get_laptop_info_amazon('https://www.amazon.in/')

,Title,Rating,Price
0,Lenovo ThinkBook Yoga 14s Intel Core i7 11th G...,3.5 out of 5 stars,"₹89,990"
1,Fujitsu UH-X 11th Gen Intel i7 Core 13.3 inche...,4.3 out of 5 stars,"₹92,990"
2,Mi Notebook Pro QHD+ IPS Anti Glare Display In...,4.3 out of 5 stars,"₹73,999"
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"₹52,999"
4,"Dell 15 (2021) i7-10870H Gaming Laptop, 16GB D...",3.8 out of 5 stars,"₹95,290"
5,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" Full ...",4.3 out of 5 stars,"₹97,505"
6,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,4.3 out of 5 stars,"₹84,990"
7,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5 stars,"₹85,990"
8,Mi Notebook Ultra 3.2K resolution display Inte...,4.3 out of 5 stars,"₹77,999"
9,"HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...",4.6 out of 5 stars,"₹87,800"

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image 
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button. 
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”. 
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [26]:
def get_ambitionbox_info(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    try:
        #click on jobs
        driver.find_element_by_xpath('//a[@title="Jobs"]').click()
        #Eneter data scientis
        driver.find_element_by_xpath('//input[@title="Enter Designation, Company or a Skill"]').send_keys('Data Scientist')
        #click on search
        driver.find_element_by_xpath('(//button[@class="ab_btn search-btn round"])[1]').click()
        #wait few seconds after clicking on search button
        driver.implicitly_wait(20)
        #click on location
        driver.find_element_by_xpath('//div[@title="Location"]/i').click()
        #enter Noida in search bar
        driver.find_element_by_xpath('//input[@placeholder="Search locations"]').send_keys('Noida')
        #select Noida button
        driver.find_element_by_xpath('//input[@id="location_Noida"]').click()
        #waiting webdriver to load the page
        time.sleep(3)

        company_list=[] # empty list for company name
        date_list=[] #empty list for posting date
        rating_list=[] #empty list for ratings of company
        
        #collect company name
        for comp in driver.find_elements_by_xpath('//div[@itemprop="itemListElement"]//div[@class="company-info"]/p'):
            company_list.append(comp.text)
            
        #collect date posted ago
        for date in driver.find_elements_by_xpath('//div[@itemprop="itemListElement"]//div[@class="other-info"]//span[1]'):
            date_list.append(date.text)
            
        #collect rating
        for rating in driver.find_elements_by_xpath('//div[@itemprop="itemListElement"]//div[@class="company-info"]//span'):
            rating_list.append(rating.text)
            
        df=pd.DataFrame({'CompanyName':company_list[:10],'No.of days posted ago':date_list[:10],'Rating':rating_list[:10]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
    
get_ambitionbox_info('https://www.ambitionbox.com/')

                           CompanyName No.of days posted ago Rating
0       LG Electronics India Pvt. Ltd.                7d ago    4.1
1        GENPACT India Private Limited               14d ago    4.0
2        GENPACT India Private Limited               14d ago    4.0
3  NTT Data Business Solutions Pvt Ltd               15d ago    3.8
4        GENPACT India Private Limited               16d ago    4.0
5                                Paytm              20hr ago    3.7
6                             GI Group               9hr ago    4.0
7                             GI Group               9hr ago    4.0
8                             GI Group               9hr ago    4.0
9                     Steria India Ltd              1mon ago    4.1

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image. 
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”. 
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [10]:
def get_ambitionbox_salary_info(url):
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get(url)
    try:
        #click on salaries
        driver.find_element_by_xpath('//a[@title="Company Salaries"]').click()
        driver.implicitly_wait(3)
        #Eneter data scientist on search job profile bar
        driver.find_element_by_xpath('//input[@id="jobProfileSearchbox"]').send_keys('Data Scientist')
        driver.implicitly_wait(3)
        #click on Data Scientist
        driver.find_element_by_xpath('(//div[@class="suggestion"])[1]').click()
        time.sleep(3)

        company_list=[] # empty list for company name
        salary_record=[]# empty list for salary recods
        exp_list=[]# empty list for experience
        avg_sal=[]# empty list for avg salry
        min_sal=[]# empty list for min salary
        max_sal=[]# empty list for max_salary
    
        #collect company name
        for comp in driver.find_elements_by_xpath('//div[@class="results-body"]//div[@class="company-info"]//a'):
            company_list.append(comp.text)
       
        #collect no of salary records
        for sal_rec in driver.find_elements_by_xpath('//div[@class="results-body"]//div[@class="company-info"]/div[@class="name"]/span'):
            salary_record.append(sal_rec.text.replace('based on','').strip())
          
        #collect experience 
        for exp in driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]'):
            exp_list.append(((exp.text)[exp.text.rindex('.')+1:]).strip())
          
        #collect Avg Salary 
        for avg in driver.find_elements_by_xpath('//p[@class="averageCtc"]'):
            avg_sal.append(avg.text)
       
        #collect min salary
        for min_s in driver.find_elements_by_xpath('//div[@class="salary-values"]/div[1]'):
            min_sal.append(min_s.text)
       
        #collect max salary 
        for max_s in driver.find_elements_by_xpath('//div[@class="salary-values"]/div[2]'):
            max_sal.append(max_s.text)
           
        df=pd.DataFrame({'CompanyName':company_list[:10],'No.of Salary records':salary_record[:10],'Experience':exp_list[:10],'Average Salary':avg_sal[:10],'Minimum Salary':min_sal[:10],'Maximum Salary':max_sal[:10]})
        return df
    finally:
        #closing the browser window
        driver.close()
        #Quiting the .exe fill which is triggered to initiate the browser
        driver.quit()
    
get_ambitionbox_salary_info('https://www.ambitionbox.com/')

,CompanyName,No.of Salary records,Experience,Average Salary,Minimum Salary,Maximum Salary
0,Ab Inbev,20 salaries,3-4 yrs exp,₹ 19.0L,₹ 15.0L,₹ 23.0L
1,ZS,12 salaries,2 yrs exp,₹ 15.3L,₹ 9.8L,₹ 19.5L
2,Optum,23 salaries,3-4 yrs exp,₹ 15.0L,₹ 11.0L,₹ 21.3L
3,Fractal Analytics,66 salaries,2-4 yrs exp,₹ 15.0L,₹ 9.5L,₹ 22.0L
4,UnitedHealth,47 salaries,2-4 yrs exp,₹ 13.5L,₹ 7.2L,₹ 20.5L
5,Tiger Analytics,26 salaries,3-4 yrs exp,₹ 13.5L,₹ 8.3L,₹ 18.5L
6,Verizon,14 salaries,4 yrs exp,₹ 12.7L,₹ 10.0L,₹ 21.0L
7,Ganit Business Solutions,13 salaries,4 yrs exp,₹ 12.4L,₹ 8.5L,₹ 15.0L
8,Ericsson,42 salaries,3-4 yrs exp,₹ 11.7L,₹ 5.2L,₹ 21.5L
9,Deloitte,49 salaries,2-4 yrs exp,₹ 11.2L,₹ 6.8L,₹ 20.5L