In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import pandas as pd
import time
import re
import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
def most_viewed_video_youtube():
    #intiating the browser
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
    time.sleep(3)
    table_body_tr_list=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr')
    table_head_tr=driver.find_element_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/thead/tr')
    head_childrens=table_head_tr.find_elements_by_xpath('//th')
    
    rank_pos=table_head_tr.find_element_by_xpath('//th[abbr[.="No."]]')
    name_pos=table_head_tr.find_element_by_xpath('//th[contains(.,"Video name")]')
    artist_pos=table_head_tr.find_element_by_xpath('//th[contains(.,"Uploader")]')
    up_date_pos=table_head_tr.find_element_by_xpath('//th[contains(.,"Upload date")]')
    views_pos=table_head_tr.find_element_by_xpath('//th[contains(.,"Views (billions)")]')
    
    rank_list=[]
    name_list=[]
    artist_list=[]
    up_date_list=[]
    view_list=[]
    
    for tr in table_body_tr_list:
        try:
            rank_list.append(tr.find_element_by_xpath('.//td[position()='+str(head_childrens.index(rank_pos)+1)+']').text)
        except:
            rank_list.append('-')
        try:
            name=tr.find_element_by_xpath('.//td[position()='+str(head_childrens.index(name_pos)+1)+']').text.replace('"','')
            name_list.append(name[:name.index('[')])
        except:
            name_list.append('-')
        try:
            artist_list.append(tr.find_element_by_xpath('.//td[position()='+str(head_childrens.index(artist_pos)+1)+']/a').text)
        except:
            artist_list.append('-')            
        try:
            up_date_list.append(tr.find_element_by_xpath('.//td[position()='+str(head_childrens.index(up_date_pos)+1)+']').text)
        except:
            up_date_list.append('-')
        try:
            view_list.append(tr.find_element_by_xpath('.//td[position()='+str(head_childrens.index(views_pos)+1)+']').text)
        except:
            view_list.append('-')
    res_table=pd.DataFrame({'Rank':rank_list,'Name':name_list,'Artist':artist_list,'Uploaded Date':up_date_list,'Views':view_list})      
    return res_table

In [3]:
most_viewed_video_youtube()

,Rank,Name,Artist,Uploaded Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.96
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.69
2,3.,Johny Johny Yes Papa,-,"October 8, 2016",6.08
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.58
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.38
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.83
6,7.,Learning Colors – Colorful Eggs on a Farm,-,"February 27, 2018",4.55
7,8.,Masha and the Bear – Recipe for Disaster,-,"January 31, 2012",4.48
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.42
9,10.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.39
10,11.,Gangnam Style,Psy,"July 15, 2012",4.30
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.79
12,13.,Sugar,Maroon 5,"January 14, 2015",3.62
13,14.,Sorry,Justin Bieber,"October 22, 2015",3.50
14,15.,Roar,Katy Perry,"September 5, 2013",3.50
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.48
16,17.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.47
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.39
18,19.,Girls Like You,Maroon 5,"May 31, 2018",3.21
19,20.,Faded,Alan Walker,"December 3, 2015",3.21
20,21.,Dark Horse,Katy Perry,"February 20, 2014",3.20
21,22.,Axel F,Crazy Frog,"June 16, 2009",3.16
22,23.,Let Her Go,Passenger,"July 25, 2012",3.15
23,24.,Bailando,Enrique Iglesias,"April 11, 2014",3.15
24,25.,Lean On,Major Lazer,"March 22, 2015",3.15
25,26.,Shake It Off,Taylor Swift,"August 18, 2014",3.13
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.06
27,28.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.05
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.02
29,30.,Mi Gente,J Balvin,"June 29, 2017",3.02

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [3]:
def bcci_tv():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://www.bcci.tv/')
    time.sleep(3)
    driver.maximize_window()
    WebDriverWait(driver, 60).until(EC.presence_of_element_located((By.XPATH, '//a[.="INTERNATIONAL"]')))
    driver.find_element_by_xpath('//a[.="INTERNATIONAL"]').click()
    WebDriverWait(driver, 60).until(EC.presence_of_element_located((By.XPATH, '//div[@class="tab-inner-content"]//div[contains(@class,"fixture-card-main ")]')))
    load_more=True
    title_list=[]
    series_list=[]
    place_list=[]
    date_list=[]
    time_list=[]
    
    while(load_more):
        time.sleep(5)
        try:            
            driver.execute_script("window.scrollBy(0,1000)","")
            driver.find_element_by_xpath('//button[.="More Fixtures"]').click()            
        except NoSuchElementException:
            load_more=False
    fixture_cards=driver.find_elements_by_xpath('//div[@class="tab-inner-content"]//div[contains(@class,"fixture-card-main ")]')
    print(len(fixture_cards))
    for fix in fixture_cards:
        try:
            series_list.append(fix.find_element_by_xpath('.//div[@class="fixture-card-top"]//span[@class="ng-binding"]').text)
        except:
            series_list.append('-')
        try:
            title=fix.find_element_by_xpath('.//div[@class="fixture-card-bottom"]/div').text
            title_list.append(title.split(' - ')[0])
            place_list.append(title.split(' - ')[1])
        except:
            title_list.append('-')
            place_list.appen('-')
      
        try:
            date_list.append(fix.find_element_by_xpath('.//div[@class="match-card-left match-schedule"]/h5').text)
        except:
            date_list.append('-')
        try:
            time_list.append(fix.find_element_by_xpath('.//div[@class="match-card-right match-schedule "]/h5').text)
        except:
            time_list.append('-')
    res_table=pd.DataFrame({'Match Title':title_list,'Series':series_list,
                           'Place':place_list,'Date':date_list,'Time':time_list})
    return res_table

In [5]:
bcci_tv()

20

,Match Title,Series,Place,Date,Time
0,3rd Test,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands, Cape Town",11 JAN 2022,2:00 PM IST
1,1st ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
2,2nd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
3,3rd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST
4,1st ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
5,2nd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
6,3rd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST
7,1st T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST
8,2nd T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,18 FEB 2022,7:30 PM IST
9,3rd T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Greenfield International Stadium, Thiruvananth...",20 FEB 2022,7:30 PM IST
10,1st Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",25 FEB 2022,9:30 AM IST
11,2nd Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium, ...",5 MAR 2022,9:30 AM IST
12,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium, ...",13 MAR 2022,7:30 PM IST
13,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium, ...",15 MAR 2022,7:30 PM IST
14,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,18 MAR 2022,7:30 PM IST
15,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
16,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
17,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium, Nagpur",14 JUN 2022,7:30 PM IST
18,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:30 PM IST
19,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [4]:
def guru_99():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://www.guru99.com/')
    time.sleep(3)
    driver.maximize_window()
    WebDriverWait(driver, 60).until(EC.presence_of_element_located((By.XPATH, '//li/a[@title="Selenium"]')))
    driver.find_element_by_xpath('//li/a[@title="Selenium"]').click()
    time.sleep(5)
    driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()
    name_list=[]
    desc_list=[]
    WebDriverWait(driver, 60).until(EC.presence_of_element_located((By.XPATH, '//table[@class="table table-striped"]/tbody/tr[td]')))
    tr_list=driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr[td]')
    for tr in tr_list:
        try:
            name_list.append(tr.find_element_by_xpath('./td[1]').text)
        except:
            name_list.append('-')
        try:
            desc_list.append(tr.find_element_by_xpath('./td[2]').text)
        except:
            desc_list.append('-')
    res_table=pd.DataFrame({'Exception Name':name_list,'Description':desc_list})
    return res_table

In [7]:
guru_99()

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [5]:
def statistics_times():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://statisticstimes.com/')
    time.sleep(3)
    driver.maximize_window()
    
    element_to_hover_over = driver.find_element_by_xpath('//button[contains(.,"Economy")]')
    hover = ActionChains(driver).move_to_element(element_to_hover_over)
    hover.perform()

    driver.find_element_by_xpath('//button[contains(.,"Economy")]/following-sibling::div[1]//a[.="India"]').click()
    driver.switch_to.frame('aswift_2')
    driver.switch_to.frame('ad_iframe')
    #alert.dismiss()
    driver.find_element_by_xpath('//div[@id="dismiss-button"]').click()
    time.sleep(3)
    driver.switch_to.default_content()
    driver.find_element_by_xpath('//a[contains(.,"» GDP of Indian states")]').click()
    #WebDriverWait(driver, 60).until(EC.presence_of_element_located((By.XPATH, '//table[@id="table_id"]/tbody/tr')))
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(30)  
  
    rank_list=[]
    state_list=[]
    gsdp_19_20=[]
    gsdp_18_19=[]
    share_list=[]
    gdp_list=[]
    driver.find_element_by_xpath('//button[@mode="primary"]').click()
    tr_list=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr')
    for i in tr_list:
        try:           
            rank_list.append(i.find_element_by_xpath('.//td[1]').text)           
        except:
            rank_list.append('-')
        try:
            state_list.append(i.find_element_by_xpath('.//td[2]').text) 
        except:
            state_list.append('-')
        try:
            gsdp_19_20.append(i.find_element_by_xpath('.//td[3]').text) 
        except:
            gsdp_19_20.append('-')
        try:
            gsdp_18_19.append(i.find_element_by_xpath('.//td[4]').text) 
        except:
            gsdp_18_19.append('-')
        try:
            share_list.append(i.find_element_by_xpath('.//td[5]').text) 
        except:
            share_list.append('-')
        try:
            gdp_list.append(i.find_element_by_xpath('.//td[6]').text) 
        except:
            gdp_list.append('-')
    print(len(rank_list))
    res_table=pd.DataFrame({'Rank':rank_list,'State':state_list,'GSDP 19-20':gsdp_19_20,'GSDP 18-19':gsdp_18_19,
                           'Share':share_list,'GDP($billion)':gdp_list})
    return res_table

In [33]:
statistics_times()

33

   Rank                      State GSDP 19-20 GSDP 18-19   Share GDP($billion)
0     1                Maharashtra          -  2,632,792  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%       240.726
3     4                    Gujarat          -  1,502,899   7.96%       228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%       226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%       165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%       143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%       131.083
8     9                  Telangana    969,604    861,031   4.56%       130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%       122.977
10   11                     Kerala          -    781,653   4.14%       118.733
11   12                      Delhi    856,112    774,870   4.10%       117.703
12   13                    Haryana    831,610    734,163   3.89%       111.519
13   14                      Bihar    611,804    530,363   2.81%        80.562
14   15                     Punjab    574,760    526,376   2.79%        79.957
15   16                     Odisha    521,275    487,805   2.58%        74.098
16   17                      Assam          -    315,881   1.67%        47.982
17   18               Chhattisgarh    329,180    304,063   1.61%        46.187
18   19                  Jharkhand    328,598    297,204   1.57%        45.145
19   20                Uttarakhand          -    245,895   1.30%        37.351
20   21            Jammu & Kashmir          -    155,956   0.83%        23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%        23.369
22   23                        Goa     80,449     73,170   0.39%        11.115
23   24                    Tripura     55,984     49,845   0.26%         7.571
24   25                 Chandigarh          -     42,114   0.22%         6.397
25   26                 Puducherry     38,253     34,433   0.18%         5.230
26   27                  Meghalaya     36,572     33,481   0.18%         5.086
27   28                     Sikkim     32,496     28,723   0.15%         4.363
28   29                    Manipur     31,790     27,870   0.15%         4.233
29   30                   Nagaland          -     27,283   0.14%         4.144
30   31          Arunachal Pradesh          -     24,603   0.13%         3.737
31   32                    Mizoram     26,503     22,287   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [6]:
def github():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://github.com/')
    time.sleep(10)
    driver.maximize_window()
    repo_title=[]
    repo_desc=[]
    contrib_count=[]
    href_list=[]
    lang_list=[]
    
    element_to_hover_over = driver.find_element_by_xpath('//summary[contains(.,"Explore")]')
    hover = ActionChains(driver).move_to_element(element_to_hover_over)
    hover.perform()
    #driver.find_element_by_xpath('//summary[contains(.,"Explore")]').click()
    #time.sleep(10)
    #driver.find_element_by_xpath('//a[contains(@href,"explore")]').click()
    try:
        href=driver.find_element_by_xpath('//a[contains(@href,"trending")]').get_attribute('href')
    except:
        hover = ActionChains(driver).move_to_element(element_to_hover_over)
        hover.perform()
        time.sleep(5)
        driver.find_element_by_xpath('//a[contains(@href,"trending")]').click()
    driver.get(href)
    #rticle_list=driver.find_elements_by_xpath('//div[@class="Box"]/div[2]/article')                 
    for hr in driver.find_elements_by_xpath('//div[@class="Box"]/div[2]/article//h1/a'):
        href_list.append(hr.get_attribute('href'))
    for href in href_list:
        lang_str=''
        driver.execute_script("window.open('');")
        driver.switch_to.window(driver.window_handles[1])
        driver.get(href)
        time.sleep(10)
        try:
            repo_title.append(driver.find_element_by_xpath('//strong[@itemprop="name"]').text)
        except:
            repo_title.append('-')  
        try:
            contrib_count.append(driver.find_element_by_xpath('//a[contains(@href,"contributor")]/span[@class="Counter"]').text)
        except:
            contrib_count.append('-') 
        try:
            repo_desc.append(driver.find_element_by_xpath('//h2[.="About"]/following-sibling::p[1]').text)
        except:
            repo_desc.append('-')
        try:
            for i in driver.find_elements_by_xpath('//h2[.="Languages"]/following-sibling::ul[1]/li//span[contains(@class,"default text-bold")]'):
                lang_str+=i.text+','
            lang_list.append(lang_str[:-1])
        except:
            lang_list.append('-')                
        driver.close()
        driver.switch_to.window(driver.window_handles[0])
    
    res_table=pd.DataFrame({'Repository title':repo_title,'Repository description':repo_desc,
                            'Contributors count':contrib_count,
                           "Language used":lang_list})
    return res_table

In [84]:
github()

,Repository title,Repository description,Contributors count,Language used
0,amis,前端低代码框架，通过 JSON 配置就能生成各种页面。,91,"TypeScript,SCSS,JavaScript,Other"
1,faker.js,What really happened with Aaron Swartz?,-,
2,weekly,前端精读周刊。帮你理解最前沿、实用的技术。,58,JavaScript
3,30-Days-Of-JavaScript,30 days of JavaScript programming challenge is...,18,"JavaScript,HTML"
4,dioxus,Elegant React-like library for building user i...,5,"Rust,JavaScript,Other"
5,terraform-aws-eks,Terraform module to create an Elastic Kubernet...,249,"HCL,Smarty"
6,CodeAnalysis,Static Code Analysis,5,"Python,TypeScript,SCSS,JavaScript,Shell,HTML,O..."
7,90DaysOfDevOps,This repository is my documenting repository f...,4,
8,aws-cdk,The AWS Cloud Development Kit is a framework f...,874,"TypeScript,JavaScript,Python,Shell,Go,Java"
9,COVID-19,"Novel Coronavirus (COVID-19) Cases, provided b...",8,
10,zx,A tool for writing better scripts,27,"JavaScript,TypeScript"
11,faker.js,-,198,JavaScript
12,code-server,VS Code in the browser,156,"TypeScript,Shell,HTML,CSS,Mustache,Dockerfile,..."
13,PowerToys,Microsoft PowerToys is a set of utilities for ...,262,"C#,C++,G-code,C,PowerShell,HLSL"
14,azure-quickstart-templates,Azure Quickstart Templates,"1,120","Shell,PowerShell,JavaScript,Bicep,Python,C#,Other"
15,awesome-api-security,A collection of awesome API Security tools and...,3,
16,sunflower-farmers,-,9,"TypeScript,Solidity,CSS,JavaScript,Other"
17,mizu,API traffic viewer for Kubernetes enabling you...,13,"Go,TypeScript,Sass,Shell,Makefile,Dockerfile,O..."
18,googletest,GoogleTest - Google Testing and Mocking Framework,346,"C++,Python,CMake,Other"
19,folly,An open-source C++ library developed and used ...,621,"C++,Python,CMake,C,Cython,Shell,Other"
20,remix,"Build Better Websites. Create modern, resilien...",143,"TypeScript,JavaScript,Other"
21,spring-framework,Spring Framework,599,"Java,Kotlin,Groovy,AspectJ,FreeMarker,CSS"
22,ants,🐜🐜🐜 ants is a high-performance and low-cost go...,18,Go
23,YesPlayMusic,高颜值的第三方网易云播放器，支持 Windows / macOS / Linux,32,"JavaScript,Vue,CSS,HTML,SCSS,Shell"
24,azure-sdk-for-net,This repository is for active development of t...,"1,092","C#,PowerShell,Shell,JavaScript,Bicep,Batchfile"

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [7]:
def billboard():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://www.billboard.com/')
    time.sleep(10)
    driver.maximize_window()
    time.sleep(5)
    try:
        driver.find_element_by_xpath('//button[@id="onetrust-accept-btn-handler"]').click()
    except:
        print("No Accept Button.")
    driver.find_element_by_xpath('(//nav[@class="o-nav  "]/ul)[1]//a[contains(.,"Charts")]').click()
    time.sleep(10)
    driver.find_element_by_xpath('//li[@class="o-nav__list-item "]/a[contains(.,"Hot 100")]').click()
    time.sleep(15)
    song_list=[]
    art_list=[]
    last_week_rank=[]
    peak_rank=[]
    week_board=[]
    
    songs=driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]')
    for song in songs:
        try:
            song_list.append(song.find_element_by_xpath('.//li[@class="lrv-u-width-100p"]//h3[contains(@class,"c-title ")]').text)
        except:
            song_list.append('-')
        try:
            art_list.append(song.find_element_by_xpath('.//li[@class="lrv-u-width-100p"]//h3[contains(@class,"c-title ")]/following-sibling::span[1]').text)
        except:
            art_list.append('-')
        try:
            last_week_rank.append(song.find_element_by_xpath('.//li[@class="lrv-u-width-100p"]/ul/li[4]/span[1]').text)
        except:
            last_week_rank.append('-')
        try:
            peak_rank.append(song.find_element_by_xpath('.//li[@class="lrv-u-width-100p"]/ul/li[5]/span[1]').text)
        except:
            peak_rank.append('-')
        try:
            week_board.append(song.find_element_by_xpath('.//li[@class="lrv-u-width-100p"]/ul/li[6]/span[1]').text)
        except:
            week_board.append('-')
    res_table=pd.DataFrame({'Song name':song_list,'Artist name':art_list,
                           'Last week rank':last_week_rank,'Peak rank':peak_rank,'Weeks on board':week_board})
    return res_table

In [88]:
billboard()

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
...,...,...,...,...,...
95,Beers On Me,"Dierks Bentley, Breland & HARDY",-,96,1
96,Already Dead,Juice WRLD,88,20,6
97,No Love,Summer Walker & SZA,98,13,8
98,23,Sam Hunt,-,99,1
99,Family Ties,Baby Keem & Kendrick Lamar,100,18,18

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [45]:
def naukri():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://www.naukri.com/')
    time.sleep(10)
    driver.maximize_window()
    driver.find_element_by_xpath('//div[@id="geoLocPopUp"]/span[@id="block"]').click()
    driver.find_element_by_xpath('//a[@title="Search Recruiters"]').click()
    time.sleep(5)
    driver.switch_to.window(driver.window_handles[1])
    driver.find_element_by_xpath('//input[@placeholder="Skills, Designations, Companies"]').send_keys('Data science')
    time.sleep(5)
    driver.find_element_by_xpath('//button[@id="qsbFormBtn"]').click()
    time.sleep(20)
    
    name_list=[]
    design_link=[]
    comp_link=[]
    skills_list=[]
    loc_list=[]
    next_page=True
    while(next_page):
        dt_list=driver.find_elements_by_xpath('//div[@class="outerRecSec"]/div')
        print(len(dt_list))
        for dt in dt_list:
            try:
                name_list.append(dt.find_element_by_xpath('.//div[@class="vcard"]/p/a[1]').text)
            except:
                name_list.append('-')
            try:
                design_link.append(dt.find_element_by_xpath('.//div[@class="vcard"]/p/span[1]').text)
            except:
                design_link.append('-')
            try:
                comp_link.append(dt.find_element_by_xpath('.//a[i[@class="cmpIcn"]]').text)
            except:
                comp_link.append('-')
            try:
                skills_list.append(dt.find_element_by_xpath('.//div[@class="hireSec highlightable"]').text)
            except:
                skills_list.append('-')
            try:
                loc_list.append(dt.find_element_by_xpath('.//i[@class="locIcn"]/following-sibling::small[1]').text)
            except:
                loc_list.append('-')
        try:
            driver.find_element_by_xpath('//div[@class="pagination"]/button[.="Next"]').click()
            time.sleep(10)
        except NoSuchElementException:
            next_page=False
        
    res_table=pd.DataFrame({'Name':name_list,'Designation':design_link,'Company':comp_link,
                           'Skills they hire for':skills_list,'Location':loc_list})
    return res_table

In [46]:
naukri()

50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
48
50
50
50
50
50
50
50
47
50
50
50
50
50
22

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
5962,Deepali,Recruitment Consultant,Intone Networks (India)Pvt Ltd,Not Specified,Hyderabad / Secunderabad
5963,Vikas Tiwari,Tester,Accenture,"Epicor Pos, C++, Sql, Plsql, Sap, Pos",Mumbai
5964,Ravi Manda,Sr. Talent Acquisition Recruiter,New York Global Consultants Pvt. Ltd.,Not Specified,Hyderabad / Secunderabad
5965,Ashish Dave,Sales Head-APAC,Cloudiway,Not Specified,Delhi
5966,Praveen Kumar,Lead Executive,Aricent Technologies (H) Limited,Not Specified,Bengaluru / Bangalore

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [30]:
def novels():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
    time.sleep(15)
    driver.maximize_window()
    th_tag=driver.find_element_by_xpath('//table[@class="in-article sortable"]/thead/tr')
    childrens=th_tag.find_elements_by_xpath('//th')
    book_pos=th_tag.find_element_by_xpath('//th[contains(.,"Title")]')
    auth_pos=th_tag.find_element_by_xpath('//th[contains(.,"Author")]')
    vol_pos=th_tag.find_element_by_xpath('//th[contains(.,"Volume Sales")]')
    pub_pos=th_tag.find_element_by_xpath('//th[contains(.,"Publisher")]')
    genre_pos=th_tag.find_element_by_xpath('//th[contains(.,"Genre")]')
    
    book_list=[]
    auth_list=[]
    vol_sold_list=[]
    pub_list=[]
    genre_list=[]
    
    tr_list=driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr')
    print(len(tr_list))
    for tr in tr_list:
        try:
            book_list.append(tr.find_element_by_xpath('.//td[position()='+str(childrens.index(book_pos)+1)+']').text)
        except:
            book_list.append('-')
        try:
            auth_list.append(tr.find_element_by_xpath('.//td[position()='+str(childrens.index(auth_pos)+1)+']').text)
        except:
            auth_list.append('-')
        try:
            vol_sold_list.append(tr.find_element_by_xpath('.//td[position()='+str(childrens.index(vol_pos)+1)+']').text)
        except:
            vol_sold_list.append('-')
        try:
            pub_list.append(tr.find_element_by_xpath('.//td[position()='+str(childrens.index(pub_pos)+1)+']').text)
        except:
            pub_list.append('-')
        try:
            genre_list.append(tr.find_element_by_xpath('.//td[position()='+str(childrens.index(genre_pos)+1)+']').text)
        except:
            genre_list.append('-')
    res_table=pd.DataFrame({'Book Name':book_list,'Author Name':auth_list,'Volumes Sold':vol_sold_list,
                           'Publisher':pub_list,'Genre':genre_list})
    return res_table

In [31]:
novels()

100

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [36]:
def imdb():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://www.imdb.com/list/ls095964455/')
    time.sleep(20)
    driver.maximize_window()
    shows_list=driver.find_elements_by_xpath('//div[@class="lister-list"]/div')
    print(len(shows_list))
    name_list=[]
    year_list=[]
    genre_list=[]
    run_time_list=[]
    ratings_list=[]
    votes_list=[]
    
    for show in shows_list:
        try:
            name_list.append(show.find_element_by_xpath('.//h3[1]/a').text)
        except:
            name_list.append('-')
        try:
            year_list.append(show.find_element_by_xpath('.//h3[1]/a/following-sibling::span[1]').text)
        except:
            year_list.append('-')
        try:
            genre_list.append(show.find_element_by_xpath('.//span[@class="genre"]').text)
        except:
            genre_list.append('-')
        try:
            run_time_list.append(show.find_element_by_xpath('.//span[@class="runtime"]').text)
        except:
            run_time_list.append('-')
        try:
            ratings_list.append(show.find_element_by_xpath('.//div[@class="ipl-rating-star small"]/span[@class="ipl-rating-star__rating"]').text)
        except:
            ratings_list.append('-')
        try:
            votes_list.append(show.find_element_by_xpath('.//span[.="Votes:"]/following-sibling::span[1]').text)
        except:
            votes_list.append('-')
    res_table=pd.DataFrame({'Name':name_list,'Year span':year_list,
                          'Genre':genre_list,'Run time':run_time_list,'Ratings':ratings_list,'Votes':votes_list })
    return res_table

In [37]:
imdb()

100

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,926,680"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"949,191"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"920,928"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,861"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"236,149"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,092"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,863"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,675"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,171"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"217,388"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [43]:
def icsuci():
    driver=webdriver.Chrome('C:/Users/yn/Desktop/Yuvi/DataTrained/seleniumWebdriver/chromedriver.exe')
    #loading the given url
    driver.get('https://archive.ics.uci.edu/')
    time.sleep(15)
    driver.maximize_window()
    driver.find_element_by_xpath('//a[.="View ALL Data Sets"]').click()
    time.sleep(10)
    
    data_list=[]
    data_type_list=[]
    task_list=[]
    attrib_type_list=[]
    instance_list=[]
    attribute_list=[]
    year_list=[]
    
    data_sets_list=driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[td/p[@class="normal"]]')
    for data in data_sets_list:
        try:
            data_list.append(data.find_element_by_xpath('./td[1]//td[2]').text)
        except:
            data_list.append('-')
        try:
            data_type_list.append(data.find_element_by_xpath('./td[2]').text)
        except:
            data_type_list.append('-')
        try:
            task_list.append(data.find_element_by_xpath('./td[3]').text)
        except:
            task_list.append('-')
        try:
            attrib_type_list.append(data.find_element_by_xpath('./td[4]').text)
        except:
            attrib_type_list.append('-')
        try:
            instance_list.append(data.find_element_by_xpath('./td[5]').text)
        except:
            instance_list.append('-')
        try:
            attribute_list.append(data.find_element_by_xpath('./td[6]').text)
        except:
            attribute_list.append('-')
        try:
            year_list.append(data.find_element_by_xpath('./td[7]').text)
        except:
            year_list.append('-')
    res_table=pd.DataFrame({'Dataset name':data_list,'Data type':data_type_list,
                           'Task':task_list,'Attribute type':attrib_type_list,'No of instances':instance_list,
                           'No of attribute':attribute_list,'Year':year_list})
    return res_table

In [44]:
icsuci()

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021